target/springmvc/WEB-INF/lib/hibernate-validator-5.0.3.Final.jar
target/springmvc/WEB-INF/lib/jackson-annotations-2.3.3.jar
target/springmvc/WEB-INF/lib/jackson-core-2.3.3.jar
target/springmvc/WEB-INF/lib/jackson-databind-2.3.3.jar
target/springmvc/WEB-INF/lib/jboss-logging-3.1.1.GA.jar
target/springmvc/WEB-INF/lib/jcl-over-slf4j-1.7.7.jar
target/springmvc/WEB-INF/lib/jul-to-slf4j-1.7.7.jar
target/springmvc/WEB-INF/lib/log4j-1.2.17.jar
target/springmvc/WEB-INF/lib/log4j-over-slf4j-1.7.7.jar
target/springmvc/WEB-INF/lib/logback-classic-1.1.2.jar
target/springmvc/WEB-INF/lib/logback-core-1.1.2.jar
target/springmvc/WEB-INF/lib/mongo-java-driver-2.12.2.jar
target/springmvc/WEB-INF/lib/aopalliance-1.0.jar
target/springmvc/WEB-INF/lib/cglib-nodep-2.1_3.jar
target/springmvc/WEB-INF/lib/classmate-1.0.0.jar
target/springmvc/WEB-INF/lib/commons-logging-1.1.jar
target/springmvc/WEB-INF/lib/slf4j-api-1.7.7.jar
target/springmvc/WEB-INF/lib/snakeyaml-1.13.jar
target/springmvc/WEB-INF/lib/spring-aop-4.0.6.RELEASE.jar
target/springmvc/WEB-INF/lib/spring-beans-4.0.6.RELEASE.jar
target/springmvc/WEB-INF/lib/spring-boot-1.1.5.RELEASE.jar
target/springmvc/WEB-INF/lib/spring-boot-autoconfigure-1.1.5.RELEASE.jar
target/springmvc/WEB-INF/lib/spring-boot-starter-1.1.5.RELEASE.jar
target/springmvc/WEB-INF/lib/spring-boot-starter-logging-1.1.5.RELEASE.jar
target/springmvc/WEB-INF/lib/spring-boot-starter-web-1.1.5.RELEASE.jar
target/springmvc/WEB-INF/lib/spring-context-4.0.6.RELEASE.jar
target/springmvc/WEB-INF/lib/spring-core-4.0.6.RELEASE.jar
target/springmvc/WEB-INF/lib/spring-data-commons-1.8.2.RELEASE.jar
target/springmvc/WEB-INF/lib/spring-data-mongodb-1.5.4.RELEASE.jar
target/springmvc/WEB-INF/lib/spring-expression-4.0.6.RELEASE.jar
target/springmvc/WEB-INF/lib/spring-javaconfig-1.0.0.m3.jar
target/springmvc/WEB-INF/lib/spring-tx-4.0.6.RELEASE.jar
target/springmvc/WEB-INF/lib/spring-web-4.0.6.RELEASE.jar
target/springmvc/WEB-INF/lib/spring-webmvc-4.0.6.RELEASE.jar
target/springmvc.war
target/springmvc.war.original
target/springmvc/WEB-INF/lib/validation-api-1.1.0.Final.jar
src/main/webapp/META-INF/maven/org.springframework/springmvc/pom.xml
target/springmvc/META-INF/maven/org.springframework/springmvc/pom.xml
src/main/webapp/META-INF/MANIFEST.MF
target/springmvc/META-INF/MANIFEST.MF
